h1 {
    text-align: center;
    font: 60px bold "Arial";
    text-shadow: 5px 5px 5px gray;
    text-decoration: none;
    margin-bottom: -20px;
}
img {
    border: 20px solid #FF0000;
    width: 150px;
    height: 150px;
    margin: 20px 20px 20px 40%;
}
nav {
    text-align: center;
}
a {
    color: black;
    border-right: 2px solid black;
    letter-spacing: 5px;
}
a:link {
    text-decoration: underline black;
    outline: 2px solid;
    font: 18px "Verdana";
}
a:hover {
    text-decoration: overline red;
    color: red;
    background-color: black;
}
.first {
    font-variant: small-caps;
    border: 2px solid black;
    color: red;
    white-space: pre;
    text-align: center;
    word-spacing: 15px;
}
.second {
    text-transform: uppercase;
    border: 2px dashed grey;
    color: black;
    direction: rtl;
    padding: 25px 35px 45px 25px;
}
.third {
    text-transform: lowercase;
    font: 22px "Times New Roman";
    border: 2px dotted red;
    color: grey;
    text-indent: 50px;
    white-space: pre;
}
